<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico" />
    <title>Ahgosham</title>

    <!-- bootstrap 4.3.1 --> 
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" /> 

    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/landing.css" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <script src="js/wow/wow.js"></script>

    <style>
      #container {
        background: rgba(0,0,0,0.5);
      }
    </style>
  </head>
  <body>
    <div id="container">
        <div class="screen wow fadeIn" id="screen1">
          <h4 class="heading">Welcome to Ahgosham</h4>
  
          <div class="content">
            <h3 class="question"></h3>
            <div class="overlay">
              <p class="answer"></p>
            </div>
          </div>
          <button id="stepNext1" class="nextButton btn">Skip Intro</button>
        </div>
      <div class="screen" id="screen4">
        <h4 class="heading">Begin With Your Date Of Birth</h4>
  
        <div class="content">
          <h3 class="question"></h3>
          <p class="answer">
            
          </p>
          <form  class="dob from-group" action="dashboard" id="dob-form">
            <div class="form-row">
              <div class="col">
                <input
                  required
                  type="date"
                  class="form-control"
                  name="dob"
                  placeholder="Pick Your Birthday"
                />
              </div>
              <div class="col">
                <button class="btn">Surprise Me</button>
              </div>
            </div>
          </form>
  
        <h4 class="or">OR</h4>
  
        
          <button class="btn btn-lg" style="width: 100%;" onclick="location.href='login'">Login</button>
          <button id="stepPrev4" class="prevButton btn">Intro</button>
        </div>
      </div>
  
      <script src="myjs/jquery.min.js"></script>
      <script src="myjs/landing.js"></script>
      <script src="myjs/main.js"></script>
  
      <script>
        new WOW().init();
        
      </script>
  
  
    </body>
  </html>
  