@media only screen and (max-width: 650px) {
  #container h4 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 2rem !important;
  }

  p {
    font-size: 1rem !important;
  }
}

body {
  background: url(./../img/banner/00-\ People\ Illustrations.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

body::-webkit-scrollbar {
  display: none;
}

.screen {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;

  background: linear-gradient(45deg, rgb(91, 120, 197), transparent);
}

#container {
  color: white;
}

.heading {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  color: white;

  /* background-color: rgb(91, 120, 197); */
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 38px;

  /* width: 50px;
    height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;

  /* background: rgb(91, 120, 197);  */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    rgb(91, 120, 197),
    #3a7bd5
  );  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    rgb(91, 120, 197),
    #3a7bd5
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.question {
  font-size: 3rem;
  font-weight: 500;
  color: white;

  /* background: rgb(91, 120, 197);  */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    rgb(91, 120, 197),
    #3a7bd5
  );  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    rgb(91, 120, 197),
    #3a7bd5
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 5px;
  border-radius: 10px;
}

.nextButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.prevButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.answer {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-align: justify;
}

.content {
  margin-top: 10px;
  padding: 10px;
  /* border-radius: 10px;
    background-color: rgb(91, 120, 197); */
  /* background: #00d2ff; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to bottom,
    rgb(91, 120, 197),
    transparent
  );  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to bottom,
    rgb(91, 120, 197),
    transparent
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5px;
  border-radius: 10px;
}

.btn {
  background-color: rgb(91, 120, 197);
  border-radius: 10px;
  color: white;
}

.or {
  font-size: 3rem;
  color: white;
  padding: 10px;
}