<!-- HEADER -->
<header class="header">
  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- HEADER BRAND -->
    <div class="header-brand">
      <!-- LOGO -->
      <div class="logo">
        <!-- ICON LOGO VIKINGER -->
        <svg class="icon-logo-vikinger small">
          <use xlink:href="#svg-logo-vikinger"></use>
        </svg>
        <!-- /ICON LOGO VIKINGER -->
      </div>
      <!-- /LOGO -->

      <!-- HEADER BRAND TEXT -->
      <h1 class="header-brand-text">Ahgosham</h1>
      <!-- /HEADER BRAND TEXT -->
    </div>
    <!-- /HEADER BRAND -->
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- SIDEMENU TRIGGER -->
    <div class="sidemenu-trigger navigation-widget-trigger">
      <!-- ICON GRID -->
      <svg class="icon-grid">
        <use xlink:href="#svg-grid"></use>
      </svg>
      <!-- /ICON GRID -->
    </div>
    <!-- /SIDEMENU TRIGGER -->

    <!-- MOBILEMENU TRIGGER -->
    <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
      <!-- BURGER ICON -->
      <div class="burger-icon inverted">
        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->

        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->

        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->
      </div>
      <!-- /BURGER ICON -->
    </div>
    <!-- /MOBILEMENU TRIGGER -->
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions search-bar">
    <!-- INTERACTIVE INPUT -->
    <div class="interactive-input dark">
      <input
        type="text"
        id="search-main"
        name="search_main"
        placeholder="Search here for people or groups"
      />
      <!-- INTERACTIVE INPUT ICON WRAP -->
      <div class="interactive-input-icon-wrap">
        <!-- INTERACTIVE INPUT ICON -->
        <svg class="interactive-input-icon icon-magnifying-glass">
          <use xlink:href="#svg-magnifying-glass"></use>
        </svg>
        <!-- /INTERACTIVE INPUT ICON -->
      </div>
      <!-- /INTERACTIVE INPUT ICON WRAP -->

      <!-- INTERACTIVE INPUT ACTION -->
      <div class="interactive-input-action">
        <!-- INTERACTIVE INPUT ACTION ICON -->
        <svg class="interactive-input-action-icon icon-cross-thin">
          <use xlink:href="#svg-cross-thin"></use>
        </svg>
        <!-- /INTERACTIVE INPUT ACTION ICON -->
      </div>
      <!-- /INTERACTIVE INPUT ACTION -->
    </div>
    <!-- /INTERACTIVE INPUT -->
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- ! DON'T REMOVE HEADER ACTIONS -->
  <div class="header-actions"></div>
  <!-- !/DON'T REMOVE HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- ACTION LIST -->
    <div class="action-list dark">
      <!-- ACTION LIST ITEM WRAP -->
      <div class="action-list-item-wrap">
        <!-- ACTION LIST ITEM -->
        <div
          class="action-list-item header-dropdown-trigger"
          id="friend-request"
        >
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-friend">
            <use xlink:href="#svg-friend"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </div>
        <!-- /ACTION LIST ITEM -->

        <!-- DROPDOWN BOX -->
        <div class="dropdown-box header-dropdown" id="friend-request-dropdown">
          <!-- DROPDOWN BOX HEADER -->
          <div class="dropdown-box-header">
            <!-- DROPDOWN BOX HEADER TITLE -->
            <p class="dropdown-box-header-title">Friend Requests</p>
            <!-- /DROPDOWN BOX HEADER TITLE -->

            <!-- DROPDOWN BOX HEADER ACTIONS -->
            <div class="dropdown-box-header-actions">
              <!-- DROPDOWN BOX HEADER ACTION -->
              <p class="dropdown-box-header-action">Find Friends</p>
              <!-- /DROPDOWN BOX HEADER ACTION -->

              <!-- DROPDOWN BOX HEADER ACTION -->
              <p class="dropdown-box-header-action">Settings</p>
              <!-- /DROPDOWN BOX HEADER ACTION -->
            </div>
            <!-- /DROPDOWN BOX HEADER ACTIONS -->
          </div>
          <!-- /DROPDOWN BOX HEADER -->

          <!-- DROPDOWN BOX LIST -->
          <div class="dropdown-box-list no-hover" data-simplebar>
            <!-- * REQUESTS WILL GO HERE -->
          </div>
          <!-- /DROPDOWN BOX LIST -->

          <!-- DROPDOWN BOX BUTTON -->
          <a class="dropdown-box-button secondary" href="requests"
            >View all Requests</a
          >
          <!-- /DROPDOWN BOX BUTTON -->
        </div>
        <!-- /DROPDOWN BOX -->
      </div>
      <!-- /ACTION LIST ITEM WRAP -->

      <!-- ACTION LIST ITEM WRAP -->
      <div class="action-list-item-wrap">
        <!-- ACTION LIST ITEM -->
        <div class="action-list-item unread header-dropdown-trigger">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-notification">
            <use xlink:href="#svg-notification"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </div>
        <!-- /ACTION LIST ITEM -->

        <!-- DROPDOWN BOX -->
        <div class="dropdown-box header-dropdown">
          <!-- DROPDOWN BOX HEADER -->
          <div class="dropdown-box-header">
            <!-- DROPDOWN BOX HEADER TITLE -->
            <p class="dropdown-box-header-title">Notifications</p>
            <!-- /DROPDOWN BOX HEADER TITLE -->

            <!-- DROPDOWN BOX HEADER ACTIONS -->
            <div class="dropdown-box-header-actions">
              <!-- DROPDOWN BOX HEADER ACTION -->
              <p class="dropdown-box-header-action">Mark all as Read</p>
              <!-- /DROPDOWN BOX HEADER ACTION -->

              <!-- DROPDOWN BOX HEADER ACTION -->
              <p class="dropdown-box-header-action">Settings</p>
              <!-- /DROPDOWN BOX HEADER ACTION -->
            </div>
            <!-- /DROPDOWN BOX HEADER ACTIONS -->
          </div>
          <!-- /DROPDOWN BOX HEADER -->

          <!-- DROPDOWN BOX LIST -->
          <div class="dropdown-box-list" data-simplebar>
            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item unread">
              <!-- USER STATUS -->
              <div class="user-status notification">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div
                        class="hexagon-image-30-32"
                        data-src="img/avatar/03.jpg"
                      ></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                    <!-- USER AVATAR BADGE -->
                    <div class="user-avatar-badge">
                      <!-- USER AVATAR BADGE BORDER -->
                      <div class="user-avatar-badge-border">
                        <!-- HEXAGON -->
                        <div class="hexagon-22-24"></div>
                        <!-- /HEXAGON -->
                      </div>
                      <!-- /USER AVATAR BADGE BORDER -->

                      <!-- USER AVATAR BADGE CONTENT -->
                      <div class="user-avatar-badge-content">
                        <!-- HEXAGON -->
                        <div class="hexagon-dark-16-18"></div>
                        <!-- /HEXAGON -->
                      </div>
                      <!-- /USER AVATAR BADGE CONTENT -->

                      <!-- USER AVATAR BADGE TEXT -->
                      <p class="user-avatar-badge-text">16</p>
                      <!-- /USER AVATAR BADGE TEXT -->
                    </div>
                    <!-- /USER AVATAR BADGE -->
                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title">
                  <a class="bold" href="profile-timeline">Nick Grissom</a>
                  posted a comment on your
                  <a class="highlighted" href="profile-timeline"
                    >status update</a
                  >
                </p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp">2 minutes ago</p>
                <!-- /USER STATUS TIMESTAMP -->

                <!-- USER STATUS ICON -->
                <div class="user-status-icon">
                  <!-- ICON COMMENT -->
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                  <!-- /ICON COMMENT -->
                </div>
                <!-- /USER STATUS ICON -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->
          </div>
          <!-- /DROPDOWN BOX LIST -->

          <!-- DROPDOWN BOX BUTTON -->
          <a
            class="dropdown-box-button secondary"
            href="hub-profile-notifications"
            >View all Notifications</a
          >
          <!-- /DROPDOWN BOX BUTTON -->
        </div>
        <!-- /DROPDOWN BOX -->
      </div>
      <!-- /ACTION LIST ITEM WRAP -->
    </div>
    <!-- /ACTION LIST -->

    <!-- ACTION ITEM WRAP -->
    <div class="action-item-wrap">
      <!-- ACTION ITEM -->
      <div class="action-item dark header-settings-dropdown-trigger">
        <!-- ACTION ITEM ICON -->
        <svg class="action-item-icon icon-settings">
          <use xlink:href="#svg-settings"></use>
        </svg>
        <!-- /ACTION ITEM ICON -->
      </div>
      <!-- /ACTION ITEM -->

      <!-- DROPDOWN NAVIGATION -->
      <div class="dropdown-navigation header-settings-dropdown">
        <!-- DROPDOWN NAVIGATION HEADER -->
        <div class="dropdown-navigation-header">
          <!-- USER STATUS -->
          <div class="user-status">
            <!-- USER STATUS AVATAR -->
            <a class="user-status-avatar" href="myprofile">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div
                    class="hexagon-image-30-32 profile-image sidebar-image"
                    data-src=""
                  >
                    <img
                      class="profile-pic"
                      src="img/loader/loader.gif"
                      alt="profile picture"
                    />
                  </div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->

                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->

                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->

                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-22-24"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->

                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-16-18"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->

                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text" data-profile-completed>
                    0%
                  </p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </div>
              <!-- /USER AVATAR -->
            </a>
            <!-- /USER STATUS AVATAR -->

            <!-- USER STATUS TITLE -->
            <p class="user-status-title">
              <span class="bold">Hi <span data-user-name></span>!</span>
            </p>
            <!-- /USER STATUS TITLE -->

            <!-- USER STATUS TEXT -->
            <p class="user-status-text small">
              <a href="myprofile" data-username></a>
            </p>
            <!-- /USER STATUS TEXT -->
          </div>
          <!-- /USER STATUS -->
        </div>
        <!-- /DROPDOWN NAVIGATION HEADER -->

        <!-- DROPDOWN NAVIGATION CATEGORY -->
        <p class="dropdown-navigation-category">My Profile</p>
        <!-- /DROPDOWN NAVIGATION CATEGORY -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="profile-edit">Profile Info</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="hub-profile-notifications"
          >Notifications</a
        >
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="requests">Friend Requests</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION CATEGORY -->
        <p class="dropdown-navigation-category">Account</p>
        <!-- /DROPDOWN NAVIGATION CATEGORY -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="#">Change Password</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="account-setting"
          >General Settings</a
        >
        <!-- /DROPDOWN NAVIGATION LINK -->
        <!-- DROPDOWN NAVIGATION BUTTON -->
        <p
          class="dropdown-navigation-button button small secondary logoutaction"
        >
          Logout
        </p>
        <!-- /DROPDOWN NAVIGATION BUTTON -->
      </div>
      <!-- /DROPDOWN NAVIGATION -->
    </div>
    <!-- /ACTION ITEM WRAP -->
  </div>
  <!-- /HEADER ACTIONS -->
</header>
<!-- /HEADER -->
