<!-- NAVIGATION WIDGET MOBILE -->
<nav
  id="navigation-widget-mobile"
  class="navigation-widget navigation-widget-mobile sidebar left hidden"
  data-simplebar
>
  <!-- NAVIGATION WIDGET CLOSE BUTTON -->
  <div class="navigation-widget-close-button">
    <!-- NAVIGATION WIDGET CLOSE BUTTON ICON -->
    <svg class="navigation-widget-close-button-icon icon-back-arrow">
      <use xlink:href="#svg-back-arrow"></use>
    </svg>
    <!-- NAVIGATION WIDGET CLOSE BUTTON ICON -->
  </div>
  <!-- /NAVIGATION WIDGET CLOSE BUTTON -->

  <!-- NAVIGATION WIDGET INFO WRAP -->
  <div class="navigation-widget-info-wrap">
    <!-- NAVIGATION WIDGET INFO -->
    <div class="navigation-widget-info">
      <!-- USER AVATAR -->
      <a class="user-avatar small no-outline" href="myprofile">
        <!-- USER AVATAR CONTENT -->
        <div class="user-avatar-content">
          <!-- HEXAGON -->
          <div
            class="hexagon-image-30-32 profile-image sidebar-image"
            data-src=""
          >
            <img
              class="profile-pic"
              src="img/loader/loader.gif"
              alt="profile picture"
            />
          </div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR CONTENT -->

        <!-- USER AVATAR PROGRESS -->
        <div class="user-avatar-progress">
          <!-- HEXAGON -->
          <div class="hexagon-progress-40-44"></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR PROGRESS -->

        <!-- USER AVATAR PROGRESS BORDER -->
        <div class="user-avatar-progress-border">
          <!-- HEXAGON -->
          <div class="hexagon-border-40-44"></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR PROGRESS BORDER -->

        <!-- USER AVATAR BADGE -->
        <div class="user-avatar-badge">
          <!-- USER AVATAR BADGE BORDER -->
          <div class="user-avatar-badge-border">
            <!-- HEXAGON -->
            <div class="hexagon-22-24"></div>
            <!-- /HEXAGON -->
          </div>
          <!-- /USER AVATAR BADGE BORDER -->

          <!-- USER AVATAR BADGE CONTENT -->
          <div class="user-avatar-badge-content">
            <!-- HEXAGON -->
            <div class="hexagon-dark-16-18"></div>
            <!-- /HEXAGON -->
          </div>
          <!-- /USER AVATAR BADGE CONTENT -->

          <!-- USER AVATAR BADGE TEXT -->
          <p class="user-avatar-badge-text" data-profile-completed>0%</p>
          <!-- /USER AVATAR BADGE TEXT -->
        </div>
        <!-- /USER AVATAR BADGE -->
      </a>
      <!-- /USER AVATAR -->

      <!-- NAVIGATION WIDGET INFO TITLE -->
      <p class="navigation-widget-info-title">
        <a href="myprofile" data-user-name>Ahgosham User</a>
      </p>
      <!-- /NAVIGATION WIDGET INFO TITLE -->

      <!-- NAVIGATION WIDGET INFO TEXT -->
      <p class="navigation-widget-info-text">Welcome Back!</p>
      <!-- /NAVIGATION WIDGET INFO TEXT -->
    </div>
    <!-- /NAVIGATION WIDGET INFO -->

    <!-- NAVIGATION WIDGET BUTTON -->
    <p
      class="navigation-widget-info-button button small secondary logoutaction"
    >
      Logout
    </p>
    <!-- /NAVIGATION WIDGET BUTTON -->
  </div>
  <!-- /NAVIGATION WIDGET INFO WRAP -->

  <!-- NAVIGATION WIDGET SECTION TITLE -->
  <p class="navigation-widget-section-title">Sections</p>
  <!-- /NAVIGATION WIDGET SECTION TITLE -->

  <!-- MENU -->
  <ul class="menu">
    <!-- MENU ITEM -->
    <li class="menu-item <%=dashboard%>">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="dashboard">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-newsfeed">
          <use xlink:href="#svg-newsfeed"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        Dashboard
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item <%=connections%>">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="connections">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-overview">
          <use xlink:href="#svg-overview"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        Connections
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item <%=requests%>">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="requests">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-group">
          <use xlink:href="#svg-group"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        Requests
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item <%=notifications%>">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="notifications">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-members">
          <use xlink:href="#svg-members"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        Notifications
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->
  </ul>
  <!-- /MENU -->

  <!-- NAVIGATION WIDGET SECTION TITLE -->
  <p class="navigation-widget-section-title">Others</p>
  <!-- /NAVIGATION WIDGET SECTION TITLE -->

  <!-- NAVIGATION WIDGET SECTION LINK -->
  <a class="navigation-widget-section-link" href="profile-edit">Profile Info</a>
  <!-- /NAVIGATION WIDGET SECTION LINK -->

  <!-- NAVIGATION WIDGET SECTION LINK -->
  <a class="navigation-widget-section-link" href="hub-account-password"
    >Change Password</a
  >
  <!-- /NAVIGATION WIDGET SECTION LINK -->

  <!-- NAVIGATION WIDGET SECTION LINK -->
  <a class="navigation-widget-section-link" href="account-setting"
    >General Settings</a
  >
  <!-- /NAVIGATION WIDGET SECTION LINK -->
</nav>
<!-- /NAVIGATION WIDGET -->
